body {
  margin: 0;
  padding: 0;

  font-family: PingFang SC-Regular, PingFang SC;
}

* {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  background-color: var(--bg-base-color);
  color: var(--text-base-color);
  padding: var(--p-2) var(--p-3);
  line-height: var(--lh-3);
  border-radius: var(--br-2);
  border: 1px solid var(--border-base-color);
  overflow: hidden;
  font-size: var(--fs-3);
  text-align: center;
  font-weight: 500;
}

.btn--primary {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.btn--primary-plain {
  border: 1px solid var(--primary-text-color-1);
  background-color: var(--primary-color-1);
  color: var(--primary-text-color-1);
}

.btn--block {
  display: block;
  width: 100%;
}

.foot {
  /* padding: var(--p-2);
  display: flex;
  align-items: center;
  flex-wrap: wrap; */
  display: none;
}

.flex {
  flex: 1;
  width: 0;
}

.preview-file__content {
  margin: var(--m-2);
  background-color: var(--bg-base-color);
  height: calc(100% - (var(--m-2) * 2));
  border-radius: var(--br-2);
  overflow: hidden;
}

.preview-file__content::-webkit-scrollbar {
  display: none;
}
