:root {
  --design-width: 375;

  --m-1: calc((8 / var(--design-width)) * 100vw);
  --m-2: calc((12 / var(--design-width)) * 100vw);
  --m-3: calc((16 / var(--design-width)) * 100vw);
  --m-4: calc((24 / var(--design-width)) * 100vw);
  --m-5: calc((32 / var(--design-width)) * 100vw);

  --p-1: calc((8 / var(--design-width)) * 100vw);
  --p-2: calc((12 / var(--design-width)) * 100vw);
  --p-3: calc((16 / var(--design-width)) * 100vw);
  --p-4: calc((24 / var(--design-width)) * 100vw);
  --p-5: calc((32 / var(--design-width)) * 100vw);

  --fs-1: calc((10 / var(--design-width)) * 100vw);
  --fs-2: calc((12 / var(--design-width)) * 100vw);
  --fs-3: calc((14 / var(--design-width)) * 100vw);
  --fs-4: calc((16 / var(--design-width)) * 100vw);
  --fs-5: calc((18 / var(--design-width)) * 100vw);

  --lh-1: calc((14 / var(--design-width)) * 100vw);
  --lh-2: calc((18 / var(--design-width)) * 100vw);
  --lh-3: calc((20 / var(--design-width)) * 100vw);
  --lh-4: calc((22 / var(--design-width)) * 100vw);
  --lh-5: calc((24 / var(--design-width)) * 100vw);

  --br-1: calc((6 / var(--design-width)) * 100vw);
  --br-2: calc((8 / var(--design-width)) * 100vw);
  --br-3: calc((12 / var(--design-width)) * 100vw);
  --br-4: calc((16 / var(--design-width)) * 100vw);
  --br-5: calc((24 / var(--design-width)) * 100vw);

  --bg-base-color: #ffffff;
  --bg-secondary-color: #f8f9fa;
  --bg-tertiary-color: #f2f4f5;

  --text-base-color: #303133;
  --text-secondary-color: #606266;
  --text-tertiary-color: #909399;

  --primary-color: #3783f8;
  --primary-text-color: #ffffff;

  --primary-color-1: #e9f4fe;
  --primary-text-color-1: #3783f8;

  --border-base-color: #dcdfe6;
}

/* 深色模式的样式 */
@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #101010;

    --bg-base-color: #242424;
    --bg-secondary-color: #232323;
    --bg-tertiary-color: #2a2a2a;

    --text-base-color: #d4d4d4;
    --text-secondary-color: #6d6d6d;

    --primary-color: #1765ad;
    --primary-text-color: #d4d4d4;

    --primary-color-1: #d4d4d4;
    --primary-text-color-1: #1765ad;
  }
}
