:root {
  --design-width: 375;

  --m-1: clamp(8px, calc((8 / var(--design-width)) * 100vw), 10px);
  --m-2: clamp(10px, calc((10 / var(--design-width)) * 100vw), 12px);
  --m-3: clamp(14px, calc((14 / var(--design-width)) * 100vw), 16px);
  --m-4: clamp(18px, calc((18 / var(--design-width)) * 100vw), 20px);
  --m-5: clamp(24px, calc((24 / var(--design-width)) * 100vw), 24px);

  --p-1: clamp(8px, calc((8 / var(--design-width)) * 100vw), 10px);
  --p-2: clamp(10px, calc((10 / var(--design-width)) * 100vw), 12px);
  --p-3: clamp(14px, calc((14 / var(--design-width)) * 100vw), 16px);
  --p-4: clamp(18px, calc((18 / var(--design-width)) * 100vw), 20px);
  --p-5: clamp(24px, calc((24 / var(--design-width)) * 100vw), 26px);

  --fs-1: clamp(12px, calc((12 / var(--design-width)) * 100vw), 14px);
  --fs-2: clamp(14px, calc((14 / var(--design-width)) * 100vw), 16px);
  --fs-3: clamp(16px, calc((16 / var(--design-width)) * 100vw), 18px);
  --fs-4: clamp(18px, calc((18 / var(--design-width)) * 100vw), 20px);
  --fs-5: clamp(24px, calc((24 / var(--design-width)) * 100vw), 26px);

  --lh-1: clamp(16px, calc((16 / var(--design-width)) * 100vw), 18px);
  --lh-2: clamp(18px, calc((18 / var(--design-width)) * 100vw), 20px);
  --lh-3: clamp(20px, calc((20 / var(--design-width)) * 100vw), 22px);
  --lh-4: clamp(22px, calc((22 / var(--design-width)) * 100vw), 24px);
  --lh-5: clamp(28px, calc((28 / var(--design-width)) * 100vw), 30px);

  --br-1: clamp(6px, calc((6 / var(--design-width)) * 100vw), 8px);
  --br-2: clamp(8px, calc((8 / var(--design-width)) * 100vw), 10px);
  --br-3: clamp(12px, calc((12 / var(--design-width)) * 100vw), 14px);
  --br-4: clamp(16px, calc((16 / var(--design-width)) * 100vw), 18px);
  --br-5: clamp(24px, calc((24 / var(--design-width)) * 100vw), 26px);

  --bg-base-color: #ffffff;
  --bg-secondary-color: #f8f9fa;
  --bg-tertiary-color: #f2f4f5;

  --text-base-color: #303133;
  --text-secondary-color: #606266;
  --text-tertiary-color: #909399;

  --primary-color: #3783f8;
  --primary-text-color: #ffffff;

  --primary-color-1: #e9f4fe;
  --primary-text-color-1: #3783f8;

  --border-base-color: #dcdfe6;
}

/* 深色模式的样式 */
@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #101010;

    --bg-base-color: #242424;
    --bg-secondary-color: #232323;
    --bg-tertiary-color: #2a2a2a;

    --text-base-color: #d4d4d4;
    --text-secondary-color: #6d6d6d;

    --primary-color: #1765ad;
    --primary-text-color: #d4d4d4;

    --primary-color-1: #d4d4d4;
    --primary-text-color-1: #1765ad;
  }
}
